@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body{
    font-size:70%;
    font-family:Courier;
    line-height:1.4;
    padding:10px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
            animation: gradient 15s ease infinite;
    border: 5px;
    background-attachment: fixed;
    display: grid;
    align-items: top;
    justify-content: center;
    height: 70vh;
}

.container {
  width: 40rem;
  height: 10rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

#page-wrap{
    width:760px;
    background:#fff;
    margin:30px auto;
    padding:10px}

p{
    color: white;
    font-weight: bold;
    font-size: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

.title {
  position: relative;
  font-family: 'Permanent Marker', cursive;
  font-variant:small-caps;
  font-size: 70px;
  -webkit-transform: skew(-15deg,-15deg);
  padding-left: 0px;
  background-image: -webkit-linear-gradient(yellow 0%, yellow 100%); /*#FC96FC*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  -webkit-filter: drop-shadow(2px 2px 30px yellow);
}

.title h1:hover{
    color:red;
    transition: all 0.3s ease;
}
